/* ==========================================================================
 *
 * [Icon fonts]
 *
 * @author Koichi Nagaoka
 *
 * ========================================================================== */
/* TODO : Please uncomment when using iconfont generations */
/* @font-face {
  font-weight: normal;
  font-family: 'kkoudev';
  font-style: normal;
  src: url('../iconfonts/*.svg');
  font-display: swap;
} */
